.loginContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.loginWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	max-width: 56.25rem;
	background-color: rgba(36, 36, 36, 0.7);
	border-radius: 1.25rem;
	overflow: hidden;
	border: 1px solid var(--border-color);
	backdrop-filter: blur(0.625rem);
	box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 48rem) {
	.loginContainer {
		padding: 1.25rem;
	}

	.loginWrapper {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		max-width: 25rem;
		height: auto;
		border-radius: 1.25rem;
		overflow: hidden;
	}
}